@media screen and (max-width: 768px){
  .col-sm-4{
    text-align: center;
    margin: 25px 0;
  }
}

/*NAVBAR*/
.navbar {
    margin-bottom: 0;
    background-color: #192021;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #ff7720 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*BARRA COLORES*/
.barberoLogo{
  font-family: 'Bitter', serif;
  color: #ffffff;
  font-size: 28px;
}

.indicadoresBarra{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.textoLupa{
  background-color: #2a2a2a;
}
.lupa{
  color: #fff;
  background-color: #f56534;
}
